[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/LinearTurboFold"]
	path = external/LinearTurboFold
	url = https://github.com/1998apoorvmalik/LinearTurboFold-old
[submodule "external/rna-eval"]
	path = external/rna-eval
	url = https://github.com/1998apoorvmalik/rna-eval
